 /*==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

html {
	font-size: 16px;
}

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	min-width: 320px;
		
}


/* ==========================================================================
   Author's custom styles - Header and hero
  ========================================================================== */

header {
	position: fixed;
	z-index: 4;
	background-color: #fff;
	width: 100%;
	max-height: 6em;
	box-shadow: 0 6px 10px -4px rgba(0,0,0,.35);

}
.logo {
float: left;
}
/*

#ahaco-tagline {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	display: inline;
	margin-left: 80%;
	margin-right: 0;
}*/
.main-nav  {
	float: left;
	margin-left: 2em;
	
}
nav {
  	font-family: 'Catamaran', sans-serif;
 	font-size: 1.5em;
 	/*font-weight: bolder;*/
 	margin-top: 2.35em;
}

nav ul {
	/*margin: 1.2em;*/
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}

nav li {
	/*text-transform: uppercase;*/
	color: #45473e;
	list-style: none;
	display: inline;
	padding: 0em .8em;
	margin-left: 0;
	margin-right: 1em;
}

nav li:hover {
	border-top: 2px solid #9d2235; 
	border-bottom: 2px solid #9d2235; 
}
nav li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-top: none;
	border-bottom: none;
}
nav li a, nav li a:visited {
	color: #6d6c6c; /*#45473e;*/
	text-decoration: none;
}

nav form {
	display: inline;
	font-size: .8em;
}

#icon{
background-image:url(../images/icons/search-icon.png); 
background-repeat: no-repeat; 
background-position: 215px 1px;
}

.mobile-nav {
	display: none;
}


/*=============================================================
Global defaults - fonts, colors, links

font-family: 'Catamaran', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
background grey: #e5e5e5;
AHA Blue: #003087;
AHA Red: #9d2235;
text black: #45473e;
callout white: #fff;
aha light blue: #307fe2;

==============================================================*/

h1 {
	color: #9D2235;
	font-size: 1.5em;
	font-family: 'Catamaran', sans-serif;

}

h2 {
	font-size: 1.2em;
	color: #09256f;
	font-family: 'Open Sans Condensed', sans-serif;
	/*border: 1px solid black;*/
}

h3 {
	font-size: 1.1em;
	color: #003087;
	padding: 0 0 0 1em;
}

p{
	color: #45473e;
	padding: 1em;
}

a, a:visited, a:active {

}

a:hover {
	color: #003087;
}



/*=================================
articles, buttons, callouts, sliders
==============================================================*/

article {
	margin: 1em;

}
.img-resize {
	width:95%;
	height: 95%;

}
.img-prop {
	padding-left: 1em;
	
}
.banner-container {
  /*position: relative; */
  background: url(../images/data-powered.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 20%;
}

.banner-btn { 
	font-size: .85em;
	color: #003087;
	padding: .25em;
	border: 1px solid #003087; /*AHA blue*/	
}

.banner-btn:hover {
	color: #fff;
	background-color: #003087;
}

.tagline {
	/*position: absolute;*/
	background: rgba(255, 255, 255, 0.5);
  	width: 30%;
  	margin: 0 auto;
  	min-width: 320px;
  	bottom: 30%;
  	float: left;
  	box-shadow: 1px 1px 1px #3c3a3a;
  	z-index: 2;
}

.tagline > p {
	color: 'black';
	font-size: 1.5em;
	font-family: 'Catamaran';
	margin: 0;
}


.intro-container {
	background-color: #e5e5e5;
	height: 10em;
	-webkit-margin-before: 0;
	
}

.intro-container p {
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	padding-top: 2.5em;
	-webkit-margin-before: 0;

}

.topics-container {}

.topics, .info {
	float: left;
  	width: 33%;
  	/*box-shadow: 1px 1px 1px 1px #d4e1db inset;*/
  	padding: 30px;
  	margin: 1.3em 0 1.3em 0;
}
 .topics:hover, .info:hover {
 	background-color: #f7f7f7;
 	border-top: 3px solid #9d2235;
 }
.hfconnect-container {

}

/*.hfconnect-img {

}*/
#callout {
	background-color: #e5e5e5;
	padding: 1em;
	border-top: 3px solid #9d2235;
	margin: auto;

}

#callout img {
	float: left;
	padding: 0 .75em 0 0;
	width: 25%;
	height: 25%;
	
	/*display: inline;*/
}

#callout p { 
	margin-top: auto;
	padding: 0 .5em .75em 0;
	 }

/*#callout .hollowbtn a {
	display: inline;
	padding-left: 30%;
}
*/
.hollowbtn {
	border: 2px solid #003087; 
	background-color: #fff;
	text-align: center;
	margin: 1em;
	padding: .85em;
	color: #003087;
	/*text-transform: uppercase;*/
	display: block;
	width: 33%;
}

.hollowbtn:hover {
	color: #ffffff;
	background-color: #003087;
}

#callout > .hollowbtn {
	display: inline-block;
}

.info-container {}
/*.info {
	float: left;
  	width: 30%;
  	box-shadow: 1px 0px 0px 0px  #d4e1db inset;
  	padding: 1em;
  	margin: 1em ;
  	border-top: 3px solid #09256f;
}*/

.info-button {
/*border-radius: 3px;*/
text-align: center;
align-self: center;
margin: 1em;
padding: .85em;
color: #fff;
background-color: #a50034;
/*text-transform: uppercase;*/
}

a:-webkit-any-link { 
	text-decoration: none !important; 
}
.button a {
	text-decoration: none;
}

.contact-container {
	clear: both;
	background: url(../images/next-steps.jpg) center center no-repeat;
	background-size: cover;
	height: 20em;
}
#contact {
	
	/*background-color: #307fe2;*/
	/*opacity: 0.5;*/

}

#contact ul {
	align-content: center;
	/*alignment-baseline: central;*/
}
#contact li {
	list-style: none;
	display: inline;
	padding: 1em;
}
footer {
	clear: both;
	background-color: #e5e5e5;
	padding: 1em;
}

footer p {
	font-size: .75em;
	clear:both;
}
.footlinks li {
	list-style: none;
	display: inline;
	text-align: right;
	padding: 1em;
	margin: 1em;
	
}

.footlinks li a {
	color: #609DE9;
}
#social {
float: right;
}

#social img {
	width: 2em;
	height: 2em;
	background-color: #e5e5e5;
}
#social ul {

}

#social li {
	list-style: none;
	display: inline;
}


