/*@media screen and (min-width: 481px){
	*{ 
	background-color: purple; 
	font-size: .75em;
	}
	html {font-size: 14px;}
	h1 { font-size: 1.5em; }
	h2 { font-size: 1.2em; }
	h3 { font-family: 1.1em; }
	
	.banner-responsive {}
	.intro-responsive {}
	.topics-responsive {}
	.hfconnect-responsive {}
	.info-responsive {}
}*/

/*
@media screen and (max-width: 641px) {
	*{ 
	background-color: yellow; 
	}
	html {font-size: 16px;}
	h1 { font-size: 1.5em; }
	h2 { font-size: 1.2em; }
	h3 { font-family: 1.1em; }
}

@media screen (max-width: 1025px) {
	*html {font-size: 18px;}
	h1 { font-size: 1.5em; }
	h2 { font-size: 1.2em; }
	h3 { font-family: 1.1em; }
}
